<div class="headline">
    <h1>Produtos <button type="button" class="btn btn-primary criar-button" (click)="criarProduto()">Criar</button></h1>
</div>


<div class="mb-3 produtos-table">
    <div>
        <table class="table table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Valor</th>
                    <th scope="col">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="produtos && produtos.length == 0">
                    <td colspan="4" class="text-center">
                        <div class="centered-div">
                            <p>Não há produtos</p>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let produto of produtos">
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>{{ produto.valor }}</td>
                    <td class="text-end">
                        <button type="button" class="btn btn-danger excluir-button"
                            (click)="excluirProduto(produto.id)">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>