<div class="d-flex" style="height: 100vh;">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <div class="d-flex align-items-center justify-content-center mb-2">
      <img src="../../assets/icons/company.png">
    </div>

    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link link-menu">
          Página Inicial
        </a>
      </li>
      <li>
        <a routerLink="/funcionarios" routerLinkActive="active" class="nav-link link-menu text-white">
          Funcionários
        </a>
      </li>
      <li>
        <a routerLink="/produtos" routerLinkActive="active" class="nav-link link-menu text-white">
          Produtos
        </a>
      </li>
      <li>
        <a routerLink="/clientes" routerLinkActive="active" class="nav-link link-menu text-white">
          Clientes
        </a>
      </li>
    </ul>
    <hr>
  </div>
  <div class="flex-grow-1 p-3">
    <router-outlet></router-outlet>
  </div>
</div>
